[submodule "addons/hmsandbox/godot-cpp"]
	path = addons/hmsandbox/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "addons/hmsandbox/quickjs"]
	path = addons/hmsandbox/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
